Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-redundant-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(src|tests)/.*'
FormatStyle: file
